
body {
  background-color: slategray;
}

.position {
display: flex;
justify-content: center
}
 
.texto{
display: flex;
align-content: center;

}

.logo{
  width: 100px
  
}

.style-footer { 
  height: 50px; 
  width:100%; 
  position:absolute; 
  bottom:0; 
  left:0; 
  background-color:black;
}

h4{
text-align: center;
color: white;

}

h2{
  color: orangered;

}


p {
  color:wheat;

}


h1 {
  display: flex;
  justify-content: center;
  font-family: 'Otomanopee One', sans-serif;

}

.aline-Principal{
  margin-top: 10px;
  padding-left: 530px;

}

.borders{
  border: black;
  border-style: solid;
  border-radius: 10px;
  border-width: 4px;
  text-align: center;

} 

.style-grid{
  display: grid;
  grid-template-columns: 20%;

}

