.position {
  display: flex;
  justify-content: center;
}

body{
  background-color: slategray;
}

.style-footer { 
  height: 50px; 
  width:100%; 
  position:absolute; 
  bottom:0; 
  left:0; 
  background-color:black;
}

h4{
  text-align: center;
color: white;
}
